<header class="flex items-center">
  <div class="px-4 sm:px-6 max-w-screen-md w-full mx-auto">
    <div class="py-4 w-full flex justify-between border-b border-gray-300 dark:border-gray-500 border-dashed">
      <div class="flex items-center">
        <Link class="pr-3 flex flex-row items-center" to="/">
        <img class="mr-2 w-6 h-6" src="/assets/img/favicon.svg" alt="{{ metadata.title }}" />
          <span class="text-xl text-gray-800 dark:text-gray-200 font-serif tracking-wide uppercase">
            {{ metadata.title }}
          </span>
        </Link>
      </div>
      <nav class="flex sm:justify-start items-center uppercase">
        <ul class="flex justify-center text-tiny text-gray-700 dark:text-gray-200 font-serif">
        </ul>
      </nav>
    </div>
  </div>
</header>
