<div class="py-8 my-6">
  <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="ad520078-117e-42c2-954b-907c2afae136"
    data-page-id="{{ slug }}"
    data-page-url="{{ page.url }}"
    data-page-title="{{ title }}"
  ></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</div>