<ol>
  {% for post in postslist %}
    <li class="mb-1">
      <time datetime="{{ post.date }}" class="text-gray-400 text-xs font-mono inline-block mr-2">
        {{ post.date | format("yyyy-MM-dd") }}
      </time>
      <a href="{{ post.url | url }}" class="text-tiny hover:text-primary">
        {{ post.data.title }}
      </a>
    </li>
  {% endfor %}
</ol>