---
layout: layouts/base.njk
---
<article class="my-8">
  <header class="mb-2">
    <h1 class="my-2 text-primary text-2xl font-serif tracking-wide">
      {{ title }}
    </h1>
    <div>
      <time class="mr-2 text-sm text-gray-600">
        {{ page.date | format("yyyy-MM-dd EEEE") }}
      </time>
    </div>
  </header>
  <section class="content">
    {{ content | safe }}
  </section>
</article>
<div class="my-4">
  <a class="text-primary" href="/">← 返回首页</a>
</div>

{% include "components/comment.njk" %}
